<div *ngIf="!book">
    <h3>Could not find book</h3>
</div>

<div *ngIf="book">
    <div class="row">
        <div class="col-10">
            <h1>{{book.title}}
                <button *ngIf="sameUser()" (click)="deleteBook(book._id)" class="btn btn-danger">Delete Book</button>
            </h1>
            <h4>{{book.author}}</h4>
        </div>
        <div class="col-2">
            <h1>${{book.price | number : '1.2-2'}}</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-4">
            <img src={{book.imagePath}} class="bookImage" onError="this.src='/assets/No_Image_Available.jpg'" alt="image of book">
        </div>
        <div class="col-8">
            <p>{{book.description}}</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <p>
                <strong>ISBN: </strong>{{book.isbn}}
                <br />
                <strong>Category: </strong>{{book.category}}
                <br />
                <strong>Condition: </strong>{{book.condtion}}
                <br />
                <strong>Publisher: </strong>{{book.publisher}}
            </p>
        </div>
    </div>
</div>