<div class="row">
    <div class="col-3">
        <div class="list-group categories">
            <button type="button" (click)="filter(null)" class="list-group-item list-group-item-action">
                All
                <span class="pull-right">
                    <i class="material-icons button-arrow">play_arrow</i>
                </span>
            </button>
            <button type="button" *ngFor="let category of categories" (click)="filter(category)" class="list-group-item list-group-item-action">
                {{category}}
                <span class="pull-right">
                    <i class="material-icons button-arrow">play_arrow</i>
                </span>
            </button>
        </div>

    </div>
    <div class="col-9">
        <div *ngIf="!books">
            <img class="loading" src="/assets/loading.gif">
        </div>
        <div class="container booklist-item" *ngFor="let book of books" [hidden]="book.category != selectedCategory && selectedCategory != null">
            <hr>
            <a routerLink="/books/{{book._id}}">
                <div class="row">
                    <div class="col-2">
                        <img src={{book.imagePath}} onError="this.src='/assets/No_Image_Available.jpg'" class="img-thumbnail booklist-item-image"
                            alt="">
                    </div>
                    <div class="col-7">
                        <h4>{{book.title}}</h4>
                        <p>{{book.author}}</p>
                        <p>{{book.condition}} Condtion
                            <br> ${{book.price}}</p>
                    </div>
                    <div class="col-3">
                        <h4>Seller</h4>
                        <p>{{book.seller.name}}
                            <br /> {{book.seller.email}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>