a {
    text-decoration: none;
    color: black;
}

.button-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
}

.booklist-item {
    height: 200px;
    padding: 10px;
    color: black;
}

.booklist-item-image {
    position: relative;
    height: 150px;
    width: 100px;
}

.booklist-item p {
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.booklist-item :hover {
    background-color: #b1bfcc;
}

.categories {
    margin-top: 25px;
}